streamlit
seaborn
jellyfish
rapidfuzz
sentence-transformers
scikit-learn
wordcloud
plotly
reportlab
geopy
pycountry
kaleido
matplotlib
folium
streamlit-folium
scrapy
selenium
webdriver-manager
unidecode